html, body {
	font-family: 'Source Sans Pro', sans-serif;
	color: #5282d7;
}

body {
	height: 100vh;

	background: url('./assets/images/fond.png') no-repeat center top;
	background-size: cover;

	display: flex;
	justify-content: center;
	align-items: center;
}

#app {
	width: 100%;
	min-width: 300px;

	height: 100%;
	min-height: 450px;
}

main {
	height: 100%;
}

main[v-cloak] {
  display: none !important; 
}